html{
  background-color:	#008B8B;
  height:1000px;
}
  
  #form{
    width:30%;
    height:500px;
    border:2px solid rgb(43, 2, 2);
    float:right;
    margin:20px;
    padding:40px;
    position:relative;
    right:500px;
    top:50px;
    clear:both;
  }
  #form .btn{
    /* float: right; */
    position:relative;
    left:300px;
    /* right:10px; */
    width:150px;
    height:30px;
  }
  label{
    font-weight:bold;
    font-style: oblique;
    font-family: monospace;
    font-size:20px;
  }
  #form h1{
    font-style:italic;
    text-transform:uppercase;
    padding-bottom:20px;
  }
  #form .inp{
    height:40px;
    width:40%;
    font-size:20px;}